<nb-layout>

  <nb-layout-header fixed>
    <h1>Mercure Toast test</h1>
  </nb-layout-header>

  <nb-layout-column>
      <button (click)="example()">TEST</button>
  </nb-layout-column>
  
  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>

